{% extends "::basemenupaciente.html.twig" %}

{# Toda esta parte sobreescribe las opciones del menu definidas en ::base.html.twig #}
{% block menuIncludes %}
  {{ include('SalitaPacienteBundle:OpcionesMenu:opciones.html.twig') }}
{% endblock %}

{% block opcionesMenuAdministrador %}
  {% set nombreRolSeleccionado = app.session.get('rolSeleccionado').getNombre() %}
  <li>
      <a href="{{path('menu_principal')}}">
          {% trans with { '%nombreRol%': nombreRolSeleccionado } %}
              planbundle.base.linkMenu
          {% endtrans %}
      </a>
  </li>
{% endblock %}

{% block opcionesMenuSecretaria %}
  {% set nombreRolSeleccionado = app.session.get('rolSeleccionado').getNombre() %}
  <li>
      <a href="{{path('menu_principal')}}">
          {% trans with { '%nombreRol%': nombreRolSeleccionado } %}
              planbundle.base.linkMenu
          {% endtrans %}
      </a>
  </li>
{% endblock %}

{% block opcionesMenuMedico %}
  {% set nombreRolSeleccionado = app.session.get('rolSeleccionado').getNombre() %}
  <li>
      <a href="{{path('menu_principal')}}">
          {% trans with { '%nombreRol%': nombreRolSeleccionado } %}
              planbundle.base.linkMenu
          {% endtrans %}
      </a>
  </li>
{% endblock %}
{#----------------------------------------------------------------------------------#}