{% extends "SalitaPacienteBundle::base.html.twig" %}

{% block contenido %}
  <h3>{% trans %}pacientebundle.busqueda.resultado.titulo{% endtrans %}</h3>
  {% if pacientes|length > 0 %}
    <table>
      <thead>
          <tr>
              <th>{% trans %}pacientebundle.busqueda.resultado.tituloTabla{% endtrans %}</th>
              <th></th>
          </tr>
      </thead>
      <tbody>
        {% for paciente in pacientes %}
          <div class="paciente">
            <tr>
                <td>{{paciente.nombre}} {{paciente.apellido}}</td>
                <td>
                    <a href="{{ path('seleccion_paciente', { 'idPaciente': paciente.id }) }}">
                        {% trans %}pacientebundle.busqueda.resultado.linkSeleccionar{% endtrans %}
                    </a>
                </td>
            </tr>
          </div>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h4 id="nota">{% trans %}pacientebundle.general.noresultfound.message{% endtrans %}</h4>
  {% endif %}
{% endblock %}