{# Recibe como parametros: adminexpression, medicoexpression, codigoEspecialidad #}

{% set paciente = app.session.get('paciente') %}
{% set usuario = app.session.get('usuario') %}

{# Si el paciente es mujer y, el usuario ingreso como administrador, o ingreso como medico y es obstetra... #}
{% if (paciente.isMujer() and (is_granted(expression(adminexpression)) 
        or (is_granted(expression(medicoexpression)) and usuario.isObstetraSession(codigoEspecialidad)))) %}
  <div class="col-sm-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
            {% trans %}
                pacientebundle.Menu.seccionEstudios.panelEstudios.titulo
            {% endtrans %}
        </h3>
      </div>
      <div class="panel-body">
        <div>
            <a href="{{path('alta_estudio')}}">
                {% trans %}
                    pacientebundle.Menu.seccionEstudios.panelEstudios.regEst
                {% endtrans %}
            </a>
        </div>
      </div>
    </div>
  </div>
{% endif %}