  <div class="col-sm-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
            {% trans %}
                pacientebundle.Menu.seccionDatosFiliatorios.panelDatosFiliatorios.titulo
            {% endtrans %}
        </h3>
      </div>
      <div class="panel-body">
        <div>
            <a href="{{path('modificacion_datosFiliatorios')}}">
                {% trans %}
                    pacientebundle.Menu.seccionDatosFiliatorios.panelDatosFiliatorios.modifDF
                {% endtrans %}
            </a>
        </div>
      </div>
    </div>
  </div>