{# Recibe como parametros: adminexpression, medicoexpression, codigoEspecialidad #}

{% set usuario = app.session.get('usuario') %}

{# Si el usuario ingreso como administrador o, ingreso como medico y es obstetra... #}
{% if (is_granted(expression(adminexpression)) 
   or (is_granted(expression(medicoexpression)) and usuario.isObstetraSession(codigoEspecialidad))) %}

  <div class="col-sm-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
            {% trans %}
                pacientebundle.Menu.seccionPlanProcreacionResponsable.panelPlanProcResp.titulo
            {% endtrans %}
        </h3>
      </div>
      <div class="panel-body">
        <div>
            <a href="{{path('alta_planprocresp')}}">
                {% trans %}
                    pacientebundle.Menu.seccionPlanProcreacionResponsable.panelPlanProcResp.agregar
                {% endtrans %}
            </a>
        </div>
        <div>
            <a href="{{path('listado_planprocresp')}}">
                {% trans %}
                    pacientebundle.Menu.seccionPlanProcreacionResponsable.panelPlanProcResp.listHab
                {% endtrans %}
            </a>
        </div>
        <div>
            <a href="{{path('listadoDes_planprocresp')}}">
                {% trans %}
                    pacientebundle.Menu.seccionPlanProcreacionResponsable.panelPlanProcResp.listDes
                {% endtrans %}
            </a>
        </div>
      </div>
    </div>
  </div>
{% endif %}