@CHARSET "UTF-8";

.form-group {
	/* Modifica el margin bottom original para que se ajuste, minimamente, a la pantalla de la notebook */
	margin-bottom: 6px;
}

#antecedenteFamiliarObstetrico_otros, #antecedenteFamiliarClinico_otros, #antecedentePersonalObstetrico_otros,
#antecedentePersonalClinico_otros {
  width: 560px;
  height: 45px;
}