{# Recibe como parametros: antecedenteFC #}

    <div class="tituloSeccionAntecedente">
        {% trans %}
            pacientebundle.HistoriaClinica.antecedentesFamiliaresClinicos.titulo
        {% endtrans %}
    </div><br>
    <span class="aux">
        {% trans %}
            pacientebundle.HistoriaClinica.seccionAntecedentes.cvm55
        {% endtrans %}
    </span>
    <span class="datos">
        {% if antecedenteFC.cardiovascularMenorA55 == 1 %}
            <span class="si">{% trans %}pacientebundle.HistoriaClinica.general.si{% endtrans %}</span>
        {% else %}
            <span class="no">{% trans %}pacientebundle.HistoriaClinica.general.no{% endtrans %}</span>
        {% endif %}
    </span><br>
    <span class="aux">
        {% trans %}
            pacientebundle.HistoriaClinica.seccionAntecedentes.asma
        {% endtrans %}
    </span>
    <span class="datos">
        {% if antecedenteFC.asma == 1 %}
            <span class="si">{% trans %}pacientebundle.HistoriaClinica.general.si{% endtrans %}</span>
        {% else %}
            <span class="no">{% trans %}pacientebundle.HistoriaClinica.general.no{% endtrans %}</span>
        {% endif %}
    </span><br>
    <span class="aux">
        {% trans %}
            pacientebundle.HistoriaClinica.seccionAntecedentes.tm
        {% endtrans %}
    </span>
    <span class="datos">
        {% if antecedenteFC.trastornosMentales == 1 %}
            <span class="si">{% trans %}pacientebundle.HistoriaClinica.general.si{% endtrans %}</span>
        {% else %}
            <span class="no">{% trans %}pacientebundle.HistoriaClinica.general.no{% endtrans %}</span>
        {% endif %}
    </span><br>
    <span class="aux">
        {% trans %}
            pacientebundle.HistoriaClinica.seccionAntecedentes.alergias
        {% endtrans %}
    </span>
    <span class="datos">
        {% if antecedenteFC.alergias == 1 %}
            <span class="si">{% trans %}pacientebundle.HistoriaClinica.general.si{% endtrans %}</span>
        {% else %}
            <span class="no">{% trans %}pacientebundle.HistoriaClinica.general.no{% endtrans %}</span>
        {% endif %}
    </span><br>
    <span class="aux">
        {% trans %}
            pacientebundle.HistoriaClinica.seccionAntecedentes.adtab
        {% endtrans %}
    </span>
    <span class="datos">
        {% if antecedenteFC.adiccionesTabaquismo == 1 %}
            <span class="si">{% trans %}pacientebundle.HistoriaClinica.general.si{% endtrans %}</span>
        {% else %}
            <span class="no">{% trans %}pacientebundle.HistoriaClinica.general.no{% endtrans %}</span>
        {% endif %}
    </span><br>
    <span class="aux">
        {% trans %}
            pacientebundle.HistoriaClinica.seccionAntecedentes.infectoc
        {% endtrans %}
    </span>
    <span class="datos">
        {% if antecedenteFC.infectoContagiosas == 1 %}
            <span class="si">{% trans %}pacientebundle.HistoriaClinica.general.si{% endtrans %}</span>
        {% else %}
            <span class="no">{% trans %}pacientebundle.HistoriaClinica.general.no{% endtrans %}</span>
        {% endif %}
    </span><br>
    <span class="aux">
        {% trans %}
            pacientebundle.HistoriaClinica.seccionAntecedentes.tuberc
        {% endtrans %}
    </span>
    <span class="datos">
        {% if antecedenteFC.tuberculosis == 1 %}
            <span class="si">{% trans %}pacientebundle.HistoriaClinica.general.si{% endtrans %}</span>
        {% else %}
            <span class="no">{% trans %}pacientebundle.HistoriaClinica.general.no{% endtrans %}</span>
        {% endif %}
    </span><br>
    <span class="aux">
        {% trans %}
             pacientebundle.HistoriaClinica.seccionAntecedentes.diabetes
        {% endtrans %}
    </span>
    <span class="datos">
        {% if antecedenteFC.diabetes == 1 %}
            <span class="si">{% trans %}pacientebundle.HistoriaClinica.general.si{% endtrans %}</span>
        {% else %}
            <span class="no">{% trans %}pacientebundle.HistoriaClinica.general.no{% endtrans %}</span>
        {% endif %}
    </span><br>
    <span class="aux">
        {% trans %}
            pacientebundle.HistoriaClinica.seccionAntecedentes.hiart
        {% endtrans %}
    </span>
    <span class="datos">
        {% if antecedenteFC.hipertensionArterial == 1 %}
            <span class="si">{% trans %}pacientebundle.HistoriaClinica.general.si{% endtrans %}</span>
        {% else %}
            <span class="no">{% trans %}pacientebundle.HistoriaClinica.general.no{% endtrans %}</span>
        {% endif %}
    </span><br>
    <span class="aux">
        {% trans %}
             pacientebundle.HistoriaClinica.seccionAntecedentes.otros
        {% endtrans %}
    </span>
    <span class="datos">
        {% if antecedenteFC.otros == null %}
             {% trans %}pacientebundle.HistoriaClinica.seccionAntecedentes.otros.NA{% endtrans %}
        {% else %}
            {{antecedenteFC.otros}}
        {% endif %}
    </span><br>
<br>