{# Recibe como parametros: antecedenteFO #}

{% if paciente.isMujer() %}
    <div class="tituloSeccionAntecedente">
        {% trans %}
            pacientebundle.HistoriaClinica.antecedentesFamiliaresObstetricos.titulo
        {% endtrans %}
    </div><br>
    <span class="aux">
        {% trans %}
            pacientebundle.HistoriaClinica.seccionAntecedentes.preecec
        {% endtrans %}
    </span>
    <span class="datos">
        {% if antecedenteFO.preeclampsiaEclampsia == 1 %}
            <span class="si">{% trans %}pacientebundle.HistoriaClinica.general.si{% endtrans %}</span>
        {% else %}
            <span class="no">{% trans %}pacientebundle.HistoriaClinica.general.no{% endtrans %}</span>
        {% endif %}
    </span><br>
    <span class="aux">
        {% trans %}
            pacientebundle.HistoriaClinica.seccionAntecedentes.tuberc
        {% endtrans %}
    </span>
    <span class="datos">
        {% if antecedenteFO.tuberculosis == 1 %}
            <span class="si">{% trans %}pacientebundle.HistoriaClinica.general.si{% endtrans %}</span>
        {% else %}
            <span class="no">{% trans %}pacientebundle.HistoriaClinica.general.no{% endtrans %}</span>
        {% endif %}
    </span><br>
    <span class="aux">
        {% trans %}
            pacientebundle.HistoriaClinica.seccionAntecedentes.diabetes
        {% endtrans %}
    </span>
    <span class="datos">
        {% if antecedenteFO.diabetes == 1 %}
            <span class="si">{% trans %}pacientebundle.HistoriaClinica.general.si{% endtrans %}</span>
        {% else %}
            <span class="no">{% trans %}pacientebundle.HistoriaClinica.general.no{% endtrans %}</span>
        {% endif %}
    </span><br>
    <span class="aux">
        {% trans %}
            pacientebundle.HistoriaClinica.seccionAntecedentes.hiart
        {% endtrans %}
    </span>
    <span class="datos">
        {% if antecedenteFO.hipertensionArterial == 1 %}
            <span class="si">{% trans %}pacientebundle.HistoriaClinica.general.si{% endtrans %}</span>
        {% else %}
            <span class="no">{% trans %}pacientebundle.HistoriaClinica.general.no{% endtrans %}</span>
        {% endif %}
    </span><br>
    <span class="aux">
        {% trans %}
            pacientebundle.HistoriaClinica.seccionAntecedentes.otros
        {% endtrans %}
    </span>
    <span class="datos">
        {% if antecedenteFO.otros == null %}
            {% trans %}pacientebundle.HistoriaClinica.seccionAntecedentes.otros.NA{% endtrans %}
        {% else %}
            {{antecedenteFO.otros}}
        {% endif %}
    </span><br>
    <br>
{% endif %}